body {
    color: #6f7a7f;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    line-height: 1.5;
    background: #e0e3e4;
    overflow-x: hidden; }